body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #edebeb;
}

img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}



.bottomnav {
  overflow: hidden;
  background-color: #e4d4d4;
  position: fixed;
  bottom: 0;
  left: 50%; /* Move it to the center horizontally */
  transform: translateX(-50%); /* Center it horizontally */
  width: calc(100% / 3); /* Divide the width equally based on the number of images */
  height: 7vh;
  display: flex;
  justify-content: space-between; /* Distribute items evenly */
}

.bottomnav a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f2f2f2;
  text-decoration: none;
  font-size: 17px;
  background-size: 20%; /* Adjust the background size of the icons */
  background-repeat: no-repeat; /* Ensure icons don't repeat */
  background-position: center; /* Center the background image horizontally and vertically */
}

.bottomnav a:hover {
  background: #f1f1f1;
  color: black;
}

.bottomnav a.active {
  background-color: #04aa6d;
  color: white;
}

.contact-icon {
  background-image: url('phone.png');
}

.location-icon {
  background-image: url('location.png');
}

.rsvp-icon {
  background-image: url('invite.png');
}


.contact-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 7vh; /* Position it above the bottom nav bar */
  transform: translateX(-50%);
  width: calc(100% / 3);
  max-height: calc(100vh - 7vh); /* Limit maximum height */
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
  background-color: #e4d4d4;
  border-radius: 15px;
}

/* Contact Modal Content */
.contact-modal-content {
  background-color: #e4d4d4;
  padding: 20px;
  border: #e4d4d4;
  border-radius: 15px;

}

/* Location Modal */
.location-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 7vh; /* Position it above the bottom nav bar */
  transform: translateX(-50%);
  width: calc(100% / 3);
  max-height: calc(100vh - 7vh); /* Limit maximum height */
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
  background-color: #e4d4d4;
  border-radius: 15px;
}

/* Location Modal Content */
.location-modal-content {
  background-color: #e4d4d4;
  padding: 20px;
  border: #e4d4d4;
  border-radius: 15px;
}

/* Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.rsvp-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 7vh; /* Position it above the bottom nav bar */
  transform: translateX(-50%);
  width: calc(100% / 3);
  max-height: calc(100vh - 7vh); /* Limit maximum height */
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
  background-color: #e4d4d4;
  border-radius: 15px;
}

/* RSVP Modal Content */
.rsvp-modal-content {
  background-color: #e4d4d4;
  padding: 20px;
  border: #e4d4d4;
  border-radius: 15px;
}

/* Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* .contact-icon {
  background-image: url('phone.png');
  background-position: center;
}

.location-icon {
  background-image: url('location.png');
  background-position: center;
}

.rsvp-icon {
  background-image: url('invite.png');
  background-position: center;
} */




/* .bottom-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.bottom-nav a {
  text-decoration: none;
  color: black;
}

.bottom-nav img {
  width: 30px;
  height: auto;
} */

/* .bottomnav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: -50px;
  width: 100vw;
  height: 7vh;
}

.bottomnav a {
  float: left;
  width: 33.33vw;
  height: 7vh;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 0px;
  text-decoration: none;
  font-size: 17px;
}

.bottomnav a:hover {
  background: #f1f1f1;
  color: black;
}

.bottomnav a.active {
  background-color: #04AA6D;
  color: white;
} */